// FONTS

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('fonts/bebasneue_regular-webfont.eot');
  src: url('fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'), 
       url('fonts/bebasneue_regular-webfont.woff2') format('woff2'), 
       url('fonts/bebasneue_regular-webfont.woff') format('woff'), 
       url('fonts/bebasneue_regular-webfont.ttf')  format('truetype'), 
       url('fonts/bebasneue_regular-webfont.svg#svgFontName') format('svg'); 
}

@font-face {
  font-family: 'HelveticaNueu';
  src: url('fonts/helveticaneuecyr-medium.eot');
  src: url('fonts/helveticaneuecyr-medium.eot?#iefix') format('embedded-opentype'), 
       url('fonts/helveticaneuecyr-medium.woff2') format('woff2'), 
       url('fonts/helveticaneuecyr-medium.woff') format('woff'), 
       url('fonts/helveticaneuecyr-medium.ttf')  format('truetype'), 
       url('fonts/helveticaneuecyr-medium.svg#svgFontName') format('svg'); 
}

@font-face {
  font-family: 'Sinhalamn';
  src: url('fonts/sinhalamn-webfont.eot');
  src: url('fonts/sinhalamn-webfont.eot?#iefix') format('embedded-opentype'), 
       url('fonts/sinhalamn-webfont.woff2') format('woff2'), 
       url('fonts/sinhalamn-webfont.woff') format('woff'), 
       url('fonts/sinhalamn-webfont.ttf')  format('truetype'), 
       url('fonts/sinhalamn-webfont.svg#svgFontName') format('svg'); 
}


// COMMON STYLES

* {
    font-family: 'BebasNeueRegular';
}

.container {
    margin: 0 auto;
    padding: 0;
    max-width: 940px;
}

@black:#474747;

@black41: #414141;




// HEADER

header {

    .navbar-brand  {
        font-size: 72px;
        font-family: 'Sinhalamn';
        font-weight: 100;
        color: @black;
        margin-top: 48px;

        span {
            color:#e37000;
            font-family: 'Sinhalamn';
        }
    }

    .navbar-default {
        background: #fff;
        border: none;
        width: 100%;
        margin: 0;
        padding: 0;

            .container-fluid {
                padding: 0;
            }


            li {
                font-size: 25px;
                line-height: 21px;
                color: @black;
                text-transform: uppercase;
                margin: 0 20px;
            }

            li:last-child a {
                padding-right: 0;
            }

            .navbar-right {
                margin-top: 57px;
            }

          .active a {
              background:transparent!important;
          }
            
    }
}

// FEATURED-WORK

#featured-work {

    margin: 0;
    padding: 0;
    background: url(../img/main_slide.jpg) 0 37px no-repeat;
    min-height: 462px;
    
    #featured-work-image img {
        width: 100%;
    }

    #this-month {
        width: 100%;
        min-height: 86px;
        margin-top: 19px;

        #this-month-header {
            background-color:  rgba(68, 68, 68, 0.9);


            h1 {
                font-family: 'HelveticaNeue';
                color:  #ffffff;
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 500;
                letter-spacing: 0.9px;
                margin-top: 9px;
                margin-bottom: 15px;
                
            }

            p {
                font-family: 'HelveticaNeue';
                color:  #9a9a9a;
                font-size: 13px;
                font-weight: 500;
                text-transform: uppercase;
                padding-top: 20px;
                letter-spacing: 0.6px;
                margin-bottom: 0;
            
            }
        }

        #this-month-info {

            background: #f5f5f5;
            margin-bottom: 30px;

                p {
                font-family: 'HelveticaNeue';
                color:  @black;
                font-size: 12px;
                font-weight: 500;
                line-height: 15px;
                text-align: left;
                margin: 21px 10px;
                letter-spacing: 0.6px;
            
        }
        }

        

    }


    
}

// ARTICLES

#articles {
    
    margin: 45px 0 0 0;
    padding: 0;
    
        h1 {
            color:  #464646;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.1px;
            min-height: 62px;
        }

        & article:nth-child(1) {

            padding-left: 0;

                h1 {
                padding: 7px 33px 0px 80px;
                background: url(../img/icon-map.jpg) 0 0 no-repeat;
                }   
            }

        & article:nth-child(2) {

            padding-left: 5px;
        
                h1 {
                    padding: 5px 70px 0 80px;
                    background: url(../img/icon-5stars.jpg) 0 0 no-repeat;
                }
            }


        & article:nth-child(3) h1 {
            padding: 5px 60px 0 80px;
            background: url(../img/icon-blog.jpg) 0 0 no-repeat;
        }

        p {
            font-size: 13px;
            line-height: 19px;
            margin-bottom: 6px;
        }

        a {
            color:@black;
            
        }

        a:hover {
            text-decoration: none;
        }

        .find-more {
            
            padding-left: 30px;
            background: url(../img/icon-more.jpg) 2px 2px no-repeat;
        }

        


}

// SPOTLIGHTS

#spotlights {
    padding: 0 0;
 
    #spotlights-header {

        margin-top: 74px;
        margin-bottom: 19px;
        text-align: center;
        background: url(../img/head-bg.jpg);
            
        h1 {
            color:  #474747;
            font-size: 24px;
            font-weight: 400;
            line-height: 27px;
            display: inline;
            padding: 2px 50px;
            background: #fff;
        }
    }

        article {
            padding: 0 10px;

            img {
                width: 100%;
            } 
        }
    
        h3 {
            margin-top: 12px;
            color:  #414141;
            font-size: 20px;
            font-weight: 100;
            line-height: 18px;
        }

        & article:nth-child(1){
            h3 {
                margin-left: 5px;
            }
        }

        & article:nth-child(4){
            h3 {
                margin-left: -2px;
            }
        }

        p {
            color: #414141;
            font-size: 12px; 
            font-weight: 400;
            line-height: 18px;
            margin-bottom: 5px;
        }

        a {
            color:#474747;
            font-size: 13px;
        }

        a:hover {
            text-decoration: none;
        }

        .proj-view {
            padding-left: 34px;
            background: url(../img/icon-more.jpg) 6px 3px no-repeat;
            
        }

}


// SPEAKERS

#speakers {

    padding: 0;
    margin: 0;
    
    h1 {
        margin-top: 74px;
        margin-bottom: 19px;
        text-align: center;
        background: url(../img/head-bg.jpg);
            
        h1 {
            color:  #474747;
            font-size: 24px;
            font-weight: 400;
            line-height: 27px;
            display: inline;
            padding: 2px 50px;
            background: #fff;
        }
    }
}