@font-face {
  font-family: 'BebasNeueRegular';
  src: url('fonts/bebasneue_regular-webfont.eot');
  src: url('fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/bebasneue_regular-webfont.woff2') format('woff2'), url('fonts/bebasneue_regular-webfont.woff') format('woff'), url('fonts/bebasneue_regular-webfont.ttf') format('truetype'), url('fonts/bebasneue_regular-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'HelveticaNueu';
  src: url('fonts/helveticaneuecyr-medium.eot');
  src: url('fonts/helveticaneuecyr-medium.eot?#iefix') format('embedded-opentype'), url('fonts/helveticaneuecyr-medium.woff2') format('woff2'), url('fonts/helveticaneuecyr-medium.woff') format('woff'), url('fonts/helveticaneuecyr-medium.ttf') format('truetype'), url('fonts/helveticaneuecyr-medium.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Sinhalamn';
  src: url('fonts/sinhalamn-webfont.eot');
  src: url('fonts/sinhalamn-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sinhalamn-webfont.woff2') format('woff2'), url('fonts/sinhalamn-webfont.woff') format('woff'), url('fonts/sinhalamn-webfont.ttf') format('truetype'), url('fonts/sinhalamn-webfont.svg#svgFontName') format('svg');
}
* {
  font-family: 'BebasNeueRegular';
}
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 940px;
}
header .navbar-brand {
  font-size: 72px;
  font-family: 'Sinhalamn';
  font-weight: 100;
  color: #474747;
  margin-top: 48px;
}
header .navbar-brand span {
  color: #e37000;
  font-family: 'Sinhalamn';
}
header .navbar-default {
  background: #fff;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
header .navbar-default .container-fluid {
  padding: 0;
}
header .navbar-default li {
  font-size: 25px;
  line-height: 21px;
  color: #474747;
  text-transform: uppercase;
  margin: 0 20px;
}
header .navbar-default li:last-child a {
  padding-right: 0;
}
header .navbar-default .navbar-right {
  margin-top: 57px;
}
header .navbar-default .active a {
  background: transparent!important;
}
#featured-work {
  margin: 0;
  padding: 0;
  background: url(../img/main_slide.jpg) 0 37px no-repeat;
  min-height: 462px;
}
#featured-work #featured-work-image img {
  width: 100%;
}
#featured-work #this-month {
  width: 100%;
  min-height: 86px;
  margin-top: 19px;
}
#featured-work #this-month #this-month-header {
  background-color: rgba(68, 68, 68, 0.9);
}
#featured-work #this-month #this-month-header h1 {
  font-family: 'HelveticaNeue';
  color: #ffffff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.9px;
  margin-top: 9px;
  margin-bottom: 15px;
}
#featured-work #this-month #this-month-header p {
  font-family: 'HelveticaNeue';
  color: #9a9a9a;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 20px;
  letter-spacing: 0.6px;
  margin-bottom: 0;
}
#featured-work #this-month #this-month-info {
  background: #f5f5f5;
  margin-bottom: 30px;
}
#featured-work #this-month #this-month-info p {
  font-family: 'HelveticaNeue';
  color: #474747;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  margin: 21px 10px;
  letter-spacing: 0.6px;
}
#articles {
  margin: 45px 0 0 0;
  padding: 0;
}
#articles h1 {
  color: #464646;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  min-height: 62px;
}
#articles article:nth-child(1) {
  padding-left: 0;
}
#articles article:nth-child(1) h1 {
  padding: 7px 33px 0px 80px;
  background: url(../img/icon-map.jpg) 0 0 no-repeat;
}
#articles article:nth-child(2) {
  padding-left: 5px;
}
#articles article:nth-child(2) h1 {
  padding: 5px 70px 0 80px;
  background: url(../img/icon-5stars.jpg) 0 0 no-repeat;
}
#articles article:nth-child(3) h1 {
  padding: 5px 60px 0 80px;
  background: url(../img/icon-blog.jpg) 0 0 no-repeat;
}
#articles p {
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 6px;
}
#articles a {
  color: #474747;
}
#articles a:hover {
  text-decoration: none;
}
#articles .find-more {
  padding-left: 30px;
  background: url(../img/icon-more.jpg) 2px 2px no-repeat;
}
#spotlights {
  padding: 0 0;
}
#spotlights #spotlights-header {
  margin-top: 74px;
  margin-bottom: 19px;
  text-align: center;
  background: url(../img/head-bg.jpg);
}
#spotlights #spotlights-header h1 {
  color: #474747;
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  display: inline;
  padding: 2px 50px;
  background: #fff;
}
#spotlights article {
  padding: 0 10px;
}
#spotlights article img {
  width: 100%;
}
#spotlights h3 {
  margin-top: 12px;
  color: #414141;
  font-size: 20px;
  font-weight: 100;
  line-height: 18px;
}
#spotlights article:nth-child(1) h3 {
  margin-left: 5px;
}
#spotlights article:nth-child(4) h3 {
  margin-left: -2px;
}
#spotlights p {
  color: #414141;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 5px;
}
#spotlights a {
  color: #474747;
  font-size: 13px;
}
#spotlights a:hover {
  text-decoration: none;
}
#spotlights .proj-view {
  padding-left: 34px;
  background: url(../img/icon-more.jpg) 6px 3px no-repeat;
}
#speakers {
  padding: 0;
  margin: 0;
}
#speakers h1 {
  margin-top: 74px;
  margin-bottom: 19px;
  text-align: center;
  background: url(../img/head-bg.jpg);
}
#speakers h1 h1 {
  color: #474747;
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  display: inline;
  padding: 2px 50px;
  background: #fff;
}
